#add_page{
    margin-left: 10px;
}
div.form #Page_type label{
    display:inline;
}
.row_label{
     width: 200px;
     float: left;
 }
.row_content{
    float: left;
}
.row{
    clear: both;
}
.material_img
{
    margin: 10px 10px 10px 0;
    float:left
}
div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
    min-height: 250px;
    height: auto !important;
    height: 250px;
}
